.slide.social-slide {
    /*background: #52A2DF;*/
}

.slide.social-slide::after {
    content: ''
}

.slide.social-slide > div {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100%;
}

.slide.social-slide h2 {
    /*color: #FFFFFF;*/
    text-align: center;
    margin: 28px 0 30px 0;
}

.slide.social-slide figure {
    float: left;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px 5px 5px 5px;
    text-align: center;
    margin: 5px 20px;
    height: 220px;
    width: 300px;
}

.slide.social-slide figure:nth-child(2),
.slide.social-slide figure:nth-child(4) {
    margin-left: 200px;
}

.slide.social-slide figure a {
    display: block;
    /*color: #FFFFFF;*/
    font-size: smaller;
    background: none;
    vertical-align: bottom;
}
